*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');


html{
    font-size: 62.5%;
}
.header{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('./banner.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo img{
    width: 16.6rem;
}
.nav-links{
    text-align: right;
    margin-bottom: 2rem;
}
.nav-links ul li{
    list-style: none;
    margin: 0rem .6rem;
    display: inline-block;
    padding: .8rem 1.3rem;
    font-size: 1.4rem;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    color: rgb(253, 254, 255);
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: .2rem;
    background-color: rgb(232, 78, 7);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.nav-links ul li a:hover{
    color: orangered;
    transition: 0.5s;
    font-weight: 500;
}

/* The container box css */
.container1{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;   
     transform: translate(-50%, -50%);
    text-align: center;
}
.container1 h1{
    font-size: 5.9rem;
}
.container1 p{
    margin: 1.8rem 0 4.5rem;
    font-size: 1.6rem;
}
.visit-link {
    text-decoration: none;
    color: aliceblue;
    border: .1rem solid white;
    padding: 1.6rem 2.8rem;
    border-radius: 3px;
    position: relative;
    font-size: 1.7rem;
}
.visit-link:hover{
    background-color: rgb(212, 71, 19);
    transition: 1s;
}

.nav-links .fa{
    display: none;
}
#show{
    font-size: 3rem;
    color: white;
    cursor: pointer;
    display: none;
}




/* <---- The header section media query--> */
@media screen and (max-width: 760px) {
    html{
        font-size: 46.5%;
    }    
    .nav-links ul li{
        display: block;
        font-size: 2rem;
    }
    .nav-links ul li:hover{
        background-color: rgb(15, 136, 136);
        border-radius: 6px;
    }
    .nav-links{
        position: fixed;
        width: 200px;
        height: 100%;
        background-color: rgb(16, 202, 211);
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: .7s;
    }
    .nav-links ul{
        padding: 4rem;
    }
    .nav-links .fa{
        display: block;
        color: aliceblue;
        font-size: 3rem;
        margin: 1.5rem;
        cursor: pointer;
    }
    .nav-links .fa:hover{
        color: rgb(196, 72, 5);
    }
    #show{
        display: block;
    }
    #show:hover{
        color: rgb(213, 68, 6);
    }


    /* -----Course Section media query--- */
    .course-row{
        flex-direction: column;
    }


    /* -----Campus Section media query--- */
    .campus-row{
        flex-direction: column;
    }


    /* ------facilities section media query----- */
    .frow{
        flex-direction: column;
    }


    /* -------testimonials------ */
    .test-row{
        flex-direction: column;
    }
    .testimonials-col img{
        margin-left: 0px;
        margin-right: 10px;
    }


    /* ------About Us page------ */
    .about-row{
        flex-direction: column;
    }


    /* ------blog page ----- */
    .blog-row{
        flex-direction: column;
    }


    /* -------contuct page----- */
    .contuct-row{
        flex-direction: column;
    }
}








/* the .container1 section media Query */
@media screen and (min-width: 761px) and (max-width: 1125px) {
    html{
        font-size: 50.5%;
    }
}








/* ----Course---- */
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 8rem;
}
.course h1{
    font-size: 4rem;
    padding: 1.2rem .8rem;
    font-weight: 800;
}
.cp-1{
    font-size: 1.8rem;
    color: rgb(62, 61, 60);
    text-transform: capitalize;
}
.course-row{
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    background-color: rgb(234, 227, 234);
    flex-basis: 31%;
    border-radius: 10px;
    padding: 2rem 1rem;
    box-sizing: border-box;
    margin-bottom: 8%;
}
.course-col:hover{
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.3) ;
    cursor: pointer;
}
.course-col h3{
    font-size: 2.5rem;
    font-weight: 600;
}
.course-col p{
    font-size: 1.8rem;
    padding: 7% 4%;
    text-transform: capitalize;
    line-height: 2rem;
}


/* ----campus---- */
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 7rem;
}
.cphead{
    font-size: 4rem;
    padding: 1.2rem .8rem;
    font-weight: 800;
}
.cpara{
    font-size: 1.8rem;
    color: rgb(62, 61, 60);
    text-transform: capitalize;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 8px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
}
.campus-row{
    display: flex;
    margin-top: 6%;
    justify-content: space-between;
}
.layer{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background-color: rgba(225, 0, 0, 0.7);

}
.layer h2{
    font-size: 2.7rem;
    color: aliceblue;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    opacity: 0;
    transition: 0.6s;
}
.layer:hover h2{
    opacity: 1;
    bottom: 49%;
   
}

/* ---facilities section----- */
.facilities{
    width: 80%;
    margin: auto;
    margin-top: 7%;
    text-align: center;
}
.facilities-col:hover{
    box-shadow: 3px 7px 15px 1px rgba(0, 0, 0, 0.3);
}
.facilities h1{
    font-size: 4rem;
    padding: 8px 14px;
}
.facilities p{
    font-size: 1.8rem;
    color: rgb(62, 61, 60);
    text-transform: capitalize;
}
.frow{
    display: flex;
    justify-content: space-between;
    margin: 40px 10px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 55px;
    box-sizing: border-box;
    padding: 7px 8px;
    cursor: pointer;
    transition: .5s;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col h3{
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    padding: 10px 0px;
}
.facilities-col p{
    font-size: 1.8rem;
    padding: 5px;
    text-align: left;
    font-weight: 500;
}


/* -----testimonials----- */
.testimonials{
    width: 80%;
    margin-top: 6%;
    margin: auto;
    text-align: center;
}
.testimonials h1{
    font-size: 4.2rem;
    padding: 12px 10px;

}
.testimonials p{
    font-size: 1.9rem;
    color: rgb(62, 61, 60);
    text-transform: capitalize;
}
.test-row{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}
.testimonials-col{
    flex-basis: 44%;
    margin:2% 3% 5% 3%;
    margin-bottom: 5%;
    padding: 30px;
    border-radius: 1rem;
    text-align: left;
    cursor: pointer;
    display: flex;
    background-color: rgb(233, 227, 238);
    transition: 0.5s;
    
}
.testimonials-col:hover{
    box-shadow: 3px 7px 15px 1px rgba(0, 0, 0, 0.3);
}
.testimonials-col img{
    height: 35px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 15px;
}
.testimonials-col h3{
    font-size: 1.7rem;
    padding-top: 15px;
    padding-bottom: 10px;
}
.testimonials-col p{
    text-align: left;
    font-size: 1.8rem;
    text-transform: lowercase;
}
.fa{
    font-size: 13px;
    color: rgb(248, 92, 35);
} 

/* -------call to Action---- */
.cta{
   margin: 100px auto;
   width: 80%;
   text-align: center;
   background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("./banner2.jpg");
   background-position: center;
   background-size: cover;
   padding: 100px 0px;
   border-radius: 5px;
   transition: 0.5s;
}

.cta h1{
    font-size: 4rem;
    color: aliceblue;
    font-weight: 700;
    padding: 10px 25px;
    margin-bottom: 48px;
}


/* ----about----- */
.about{
    width: 90%;
    margin: 80px auto;
    text-align: center;
    padding: 25px;
    box-sizing: border-box;
}
.about h4{
    font-size: 25px;
    padding: 30px 0px;
    font-weight: 600;
}
.about p{
    font-size: 1.8rem;
    color: rgb(62, 61, 60);
}
.about .icons{
    font-size: 2rem;
    width: 35px;
    height: 35px;
    text-align: center;
    color: rgb(255, 254, 254);
    margin: 35px 6px;
    line-height: 35px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.5s;
    background-color: rgb(255, 103, 47);
}
.about .icons:hover{
    background-color: rgb(223, 56, 0);
}
.heart{
    color: rgb(223, 56, 0);
}


/* -------About Us  page css----- */
.sub-header{
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('./background.jpg');
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}
.ahead{
    font-size: 4rem;
    font-weight: 700;
    margin-top: 110px;
    padding: 5px 15px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 30px;
}
.about-row{
    display: flex;
    justify-content: space-between;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    font-size: 4rem;
    padding-top:0px;
}
.about-col p{
    font-size: 1.7rem;
    color: rgb(68, 70, 73);
    padding: 15px 0 30px; 
}
.about-btn{
    text-decoration: none;
    color: rgb(249, 72, 13);
    border: .1rem solid rgb(214, 86, 6);
    padding: 1.2rem 2rem;
    border-radius: 3px;
    position: relative;
    font-size: 1.7rem;
    transition: 0.5s;
    cursor: pointer;
}
.about-btn:hover{
    color: aliceblue;
    border: 1px solid white;
    background-color: rgb(206, 75, 4);
    font-weight: 500;
}


/* ---------blog page content-------- */
.blog-content{
    width: 80%;
    margin: auto;
    margin-top: 80px;
}
.blog-row{
    display: flex;
    justify-content: space-between;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    font-size: 2.5rem;
    margin: 30px 0px;
    color: #222;
    font-weight: 600;
}
.blog-left p{
    font-size: 1.8rem;
    color: #999;
    padding: 0;
}
.blog-right{
    font-size: 1.8rem;
    flex-basis: 32%;
}
.blog-right h3{
    background-color: rgba(227, 77, 22, 0.929);
    color: aliceblue;
    padding: 7px 0;
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 10px;
}
.blog-right div{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color: #555;
    align-items: center;
    box-sizing: border-box;
}

/* -------For blog comment box----- */
.comment-box{
    border: 1px solid rgb(195, 189, 189);
    margin: 50px 0;
    padding: 10px 20px;
    border-radius: 5px;
}
.comment-box h3{
    font-size: 2.5rem;
    text-align: left;
    color: #555;
}
.comment-form input, .comment-form textarea{
    font-size: 1.8rem;
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: rgb(241, 236, 242);
    border-radius: 3px;
}
.comment-form button{
    margin: 10px 0;
}


/* ------location map----- */
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
    border-radius: 4px;
}

/* ----contuct us---- */
.contuct-us{
    width: 80%;
    margin: auto;
}
.contuct-row{
    display: flex;
    justify-content: space-between;
}
.contuct-col{
    flex-basis: 48%;
    margin-bottom: 40px;
}
.contuct-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contuct-col div i{
    font-size: 2rem;
    color: rgb(235, 93, 11);
    margin: 10px;
    margin-right: 30px;
}
.contuct-col div h5{
    font-size: 2rem;
    color: rgb(97, 92, 92);
    margin-bottom: 5px;
}
.contuct-col div p{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(146, 143, 143);
}

.contuct-form input, .contuct-form textarea{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    outline: none;
    border: 1px solid rgb(187, 181, 181);
    box-sizing: border-box;
}